<!DOCTYPE html>


<html lang="ja">
<style>
    header {
        background-color: lightblue;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center
    }


    footer {
        background-color: lightblue;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        position: sticky;
    }
</style>

<head cherset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <a class="link-opacity-50 text-decoration-none" href="index.html">
              <p size="20px" style="color: white;">Project.SAKAI</p>
            </a>
          </div>
          <div class="col">
            <a class="link-opacity-50 text-decoration-none" href="new_account.html">
              <img src="image/icon.png" style="width: 50px; height: 50px; margin-left: 30px;">
            </a>
          </div>
        </div>
      </header>

    <div><p><a class="link-opacity-50" href="index.html">戻る</a></p></div>

    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <img src="image/profile_icon.png" style="width: 40px; height: 40px;">
                <div>ひろゆき</div>
            </div>
        </div>
    </div><!--container-->

    <div class="container mt-3">
        <div class="row">
            <div class="col-2 ">
                <img src="image/profile_icon.png" style="width: 30px; height: 30px;">
            </div>
            <div class="col-6" style="background-color: lightgray;">
                <p>おめでとうございます！<br>
                    あなたは100万円当選しました!!<br>
                    次の4点を教えてください。<br>
                    １．銀行名<br>
                    ２．支店名<br>
                    ３．口座番号<br>
                    ４．登録完了のスクリーンショット<br>
                <p> <a class="link-opacity-50-hover" data-bs-toggle="modal" data-bs-target="#exampleModal">bit.ly/hfjkalbfkjl</a></p>
                <!-- モーダルの設定 -->

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: red;">
                            <div class="modal-header">
                                <!--×の閉じる-->
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"
                                    style="height: 5px;"></button>
                            </div>
                            <!--警告マーク-->
                            <div class="modal-body">
                                <div style="text-align: center">
                                    <img src="image/warningmark.png" alt="警告マーク" style="width: 10%; height: 10%;">
                                </div>
                                <!--本文-->
                                <h1 style="text-align: center;">警告</h1>
                                <b>
                                    <p>SNSで送られてくる怪しいメッセージには気を付けましょう。</p>
                                    <p>SNS詐欺は、X(旧Twitter)やInstagram、TikTokで多い傾向にあります。</p>
                                    <p>どのSNSでも、詐欺DMを受け取った場合には運営会社に通報し、無視しましょう。</p>
                                    <p>リンクを開いたり、ファイルを開いたり、返事をしたりしてはいけません。
                                        パスワード、支払情報に関する情報も絶対に入力してはいけません。</p>
                                </b>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


                <p>※上記の4点を確認できない場合はお振込みできません。<br>
                    ※12/17まで。
                </p>
            </div>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-6">
                    <p style="font-size: small;">12/10　午後13:00</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-6" style="background-color: lightskyblue">
                <p>ほんとですか！？<br>
                    ありがとうございます！</p>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-6">
                <p style="font-size: small; text-align: right;">15:00</p>
            </div>
        </div>
    </div>








    <footer>
        <p>© All rights reserved by dmmwebcampmedia.</p>
    </footer>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>