<!DOCTYPE html>


<html lang="ja">
<style>
    header {
        background-color: lightblue;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center
    }

    footer {
        background-color: lightblue;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        /* （フッターの下の部分が重なる場合だけ[position:sticky]を使用する）
        position: sticky;
        */
        
    }
</style>

<head cherset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <a class="link-opacity-50 text-decoration-none" href="#"> 
                    <p size="20px" style="color: white;">Project.SAKAI</p>
                </a>
            </div>
            <div class="col">
                <a class="link-opacity-50 text-decoration-none" href="#">
                <img src="image/icon.png" style="width: 50px; height: 50px; margin-left: 30px;">
                </a>
            </div>
        </div>
    </header>

    <footer>
        <p>© All rights reserved by dmmwebcampmedia.</p>
    </footer>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>